/*
body, html {
  height: 100%;
}

.bg {
  // The image used
  background-image: url("TuD_Data_Store_HG_Website_1920x1080.jpg");

  // Full height 
  height: 100%;

  // Center and scale the image nicely 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 1.0;
}*/


body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  margin: 0;
}
h3 {
  margin-top: 50px;
}
li {
  margin: 25px 50px 0 0;
}
table {
  width: 1400px;
  margin: 0 50px 0 50px;
}
td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.center_text {
	text-align: right;
	color: #002D64;
	font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
	font-size: 12;
	font-weight: bold;
}

